<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387348522574-juj6j61plqs1sa1dmhvscg9epveqin2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387348522574-juj6j61plqs1sa1dmhvscg9epveqin2s</string>
	<key>API_KEY</key>
	<string>AIzaSyBay5c7kWwIdXBOM8-I08zzSrMTRNkMT1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>387348522574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drinkr.ios</string>
	<key>PROJECT_ID</key>
	<string>website-17bae</string>
	<key>STORAGE_BUCKET</key>
	<string>website-17bae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:387348522574:ios:2f019d7669214d6cba051f</string>
	<key>DATABASE_URL</key>
	<string>https://website-17bae.firebaseio.com</string>
</dict>
</plist>
